@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inherit;
}

@keyframes underlineGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.underline-on-scroll {
  position: relative;
  display: inline-block;
}

.underline-on-scroll::after {
  content: '';
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: rgba(255, 255, 255, 0.5); 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1.2s ease-in-out;
}

.underline-on-scroll.animate::after {
  transform: scaleX(1);
}

